.container {
  display: flex;
  height: 100vh; /* Set container to full viewport height */
}

.offCanvas {
  height: 100%; /* Off-canvas height to full */
  width: 25%; /* Set a fixed width for off-canvas */
  min-width: 150px;
  background-color: #f4f4f4; /* Adjust as needed */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  flex-grow: 1; /* Take the remaining space */
  padding: 20px;
  height: 100%; /* Content height to full */
  width: 70%;
  overflow-y: auto; /* Enable vertical scrolling */
}

.content-inner {
  height: 100%; /* Inner content to full */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.list-item {
  margin-bottom: 10px;
}

.error {
  color: red;
}

.button-container{
    display: flex;
    flex-direction: column;
}

.button-container button{
  height: 50px;
  margin-bottom: 10px;
}

.button-container button:hover{
  cursor: pointer;
}

.user-card{
  width: 100%;
  height: auto;
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);

}

.user-card img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.user-card .userBtns{
  width: 180px;
  margin: 0 auto;
  // background-color: orange;
  justify-content: center;
  align-items: center;
}

.user-card button{
  padding: 10px 15px;
  background-color: #F8395A;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
  border-radius: 10px;
}

