.container {
  display: flex;
  height: 100vh; /* Set container to full viewport height */
}

.offCanvas {
  height: 100%; /* Off-canvas height to full */
  width: 25%; /* Set a fixed width for off-canvas */
  min-width: 150px;
  background-color: #f4f4f4; /* Adjust as needed */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  flex-grow: 1; /* Take the remaining space */
  padding: 20px;
  height: 100%; /* Content height to full */
  width: 70%;
  overflow-y: auto; /* Enable vertical scrolling */
}

.content-inner {
  height: 100%; /* Inner content to full */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.list-item {
  margin-bottom: 10px;
}

.error {
  color: red;
}

.view-switch{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    // background-color: red;
    width: auto;
    justify-content: center;
    align-items: center;
}

.view-switch button{
  height: 50px;
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #F8395A;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
  border-radius: 10px;
}

.view-switch button:hover{
  cursor: pointer;
}


.search-inputs{
  margin-top: 30px;
  margin-bottom: 30px;
    // background-color: red;
    width: auto;
    justify-content: center;
    align-items: center;
}

.search-inputs .inputDiv{
  width: 250px;
  height: 50px;
  margin: 0 auto;
  // background-color: orange;
}

.search-inputs input{
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px
}

.user-card{
  width: 70%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.user-card img{
  width: 100%;
  height: 350px;
  object-fit: cover;  
  border-radius: 10px;
}

.user-card .userBtns{
  width: 180px;
  margin: 0 auto;
  // background-color: orange;
  justify-content: center;
  align-items: center;
}

.user-card button{
  padding: 10px 15px;
  background-color: #F8395A;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
  border-radius: 10px;
}


.doc-card:hover{
  cursor: pointer;
}

.booking-card{
  width: 70%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.return-card{
  width: 70%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.comment-card{
  width: 70%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.update-card{
  width: 80%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}