.chartnInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    // background-color: yellow;
    min-height: 300px;
    margin-top: 20px;
  
    .chart-section {
      width: 70%;
      min-height: 300px;
    }
  
    .info-section {
      width: 30%;
      min-height: 300px;
      background-color: beige;
    }
  
    @media (max-width: 1150px) {
      flex-direction: column;
  
      .chart-section,
      .info-section {
        width: 100%;
      }
    }
  }

  .addedInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; /* Space between items */
    padding: 10px;
}

/* Style for each addedInfo1 element */
.addedInfo1 {
    display: flex;
    flex-direction: row;
    width: 23%; /* Default width */
    background-color: #eee;
    border-radius: 7px;
    padding: 20px;
    height: 120px; /* Adjust height as needed */
}

/* Icon styling */
.icon {
    width: 40%;
    min-width: 75px; /* Fixed minimum width */
    height: 100%;
    margin-right: 20px;
    // background-color: green;
    border-radius: 7px;
}

/* Info container styling */
.info {
    min-width: 75px; /* Fixed minimum width */
    display: flex;
    flex-direction: column;
    width: 60%;
}

.value {
    height: 40%;
    width: 100%;
    color: blue;
}

.title {
    height: 60%;
    width: 100%;
    // background-color: #eee;
}

.recent-transactions {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.transaction-titles {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
    background-color: #f1f1f1;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.transaction-item span {
    width: 30%;
    text-align: center;
}


// @media (max-width: 1340px) {
//     .addedInfo1 {
//         width: 35%; /* Two items per row on tablets */
//     }
// }

@media (max-width: 1000px) {
    .addedInfo1 {
        width: 40%; /* Two items per row on tablets */
    }
}

/* Responsive layout for tablet screens */
@media (max-width: 768px) {
    .addedInfo1 {
        width: 45%; /* Two items per row on tablets */
    }
}

@media (max-width: 703px) {
    .addedInfo1 {
        width: 70%; /* One item per row on mobile */
    }
}

/* Responsive layout for mobile screens */
@media (max-width: 603px) {
    .addedInfo1 {
        width: 100%; /* One item per row on mobile */
    }
}
