.chartnInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: yellow;
    min-height: 300px;
  
    .chart-section {
      width: 60%;
      min-height: 300px;
    }
  
    .info-section {
      width: 40%;
      min-height: 300px;
      background-color: green;
    }
  
    @media (max-width: 1060px) {
      flex-direction: column;
  
      .chart-section,
      .info-section {
        width: 100%;
      }
    }
  }